@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v47/1PtCg8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMXL830efAesmwYSFoxBEL_I2udQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@import 'tailwindcss';

@theme {
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;

  --color-primary-50: oklch(98% 0.009 263.68);
  --color-primary-50: oklch(98% 0.009 263.68);
  --color-primary-100: oklch(95% 0.024 263.68);
  --color-primary-200: oklch(90% 0.048 263.68);
  --color-primary-300: oklch(80% 0.1 263.68);
  --color-primary-400: oklch(70% 0.156 263.68);
  --color-primary-500: oklch(60% 0.217 263.68);
  --color-primary-600: oklch(50% 0.201 263.68);
  --color-primary-700: oklch(40% 0.127 263.68);
  --color-primary-800: oklch(30% 0.059 263.68);
  --color-primary-900: oklch(20% 0.047 263.68);

  --color-secondary-50: oklch(0.5452 0 0);
  --color-secondary-100: oklch(0 0 0);
  --color-secondary-200: oklch(1 0 0);
  --color-secondary-300: oklch(0.631 0.0379 261.88);
  --color-secondary-400: oklch(0.908 0.011 256.7);

  --color-custom-50: oklch(0.97 0.034 258);
  --color-custom-100: oklch(0.93 0.034 258);
  --color-custom-200: oklch(0.88 0.034 258);
  --color-custom-300: oklch(0.82 0.034 258);
  --color-custom-400: oklch(0.76 0.034 258);
  --color-custom-500: oklch(0.7 0.034 258); /* base #DCE0E7 */
  --color-custom-600: oklch(0.64 0.034 258);
  --color-custom-700: oklch(0.58 0.034 258);
  --color-custom-800: oklch(0.52 0.034 258);
  --color-custom-900: oklch(0.46 0.034 258);

  --color-style-500: oklch(0.9774 0.0042 236.5);
  --color-style-600: oklch(96.648% 0.004545 258.325);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

html,
body,
#root,
button,
input,
select,
textarea {
  font-family: 'Comfortaa', sans-serif;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  background: var(--color-primary-800);
  width: 100%;
}

@keyframes hero-slider {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-100%);
  }
  50%,
  70% {
    transform: translateX(-200%);
  }
  75%,
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.hero-slider {
  animation: hero-slider 20s ease-in-out infinite;
}

@media (prefers-reduced-motion: reduce) {
  .hero-slider {
    animation: none;
  }
}
